/* This stylesheet ensures all text is black and background is white for PDF generation */
body {
  background-color: #ffffff !important;
}

/* All text and headings will be black */
.prose,
.prose * {
  color: #000000 !important;
}

/* Links will also be black to keep it monochrome */
.prose a {
  color: #000000 !important;
  text-decoration: underline; /* underline to show it's a link */
}

/* Borders will be a simple gray */
.prose table,
.prose th,
.prose td {
  border-color: #888888 !important;
}

.prose th {
  background-color: #eeeeee !important;
}

/* Highlighted code block background */
.prose pre {
  background-color: #f7f7f7 !important;
}